.animate-bounce {
  animation-iteration-count: 1;   
  animation-duration: 0.25s; 
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);          
  }
  100% {
    transform: translateY(0%);
  }
}

nav.menuRich a {
  color: #009900;    
  display: block;
  padding: 12px;  
}

nav.menuRich a:hover {  
  background: #000000;
  color: #ffffff;
  text-decoration: underline;
}